

@import "tailwindcss";

body {
  background-color: #09090b;
  padding:0 10% ;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f8f8f8;
}

::-webkit-scrollbar-thumb {
  background: #2c2c2c;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}